<ion-tabs>

  <ion-tab-bar slot="bottom">
  
	<ion-tab-button tab="adminhome" href="/admin/(adminhome:adminhome)">
      <ion-icon name="adminhome"></ion-icon>
      <ion-label>Admin</ion-label>
	
	<ion-tab-button tab="add" href="/admin/(add:add)">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>
	
	<ion-tab-button tab="details" href="/admin/(details:null)">
      <ion-icon name="eye"></ion-icon>
      <ion-label>Details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="edit" href="/admin/(edit:null)">
      <ion-icon name="create"></ion-icon>
      <ion-label>Edit</ion-label>
    </ion-tab-button>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

