 <ion-header>
  <ion-toolbar>
    <ion-title>Poll App</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding>
      <ion-list >
        <ion-item *ngFor="let player of playerData">
          <ion-row>
            <ion-col  align-self-center size-md="6" align-self-center size-lg="5" size-xs="12">
                <ion-avatar>
                    
                    <h4>{{player.name}}</h4>
                    <p>{{player.goals}} goals</p>
                    <p>{{player.assists}} assists</p>
                  </ion-avatar>
            </ion-col>
            <ion-col>
                  <h1>VoteCount</h1>
                  <h1 text-center>{{voteCount[player.shortName]}}</h1>
            </ion-col>
          </ion-row> 
          <button ion-button full color="dark" round (click)="sendVotes(player)">Vote</button>
        </ion-item>
      </ion-list>
    </ion-content>